<div class="claim" th:fragment="claim(index, claimData)">

    <div class="claim_field">
        <input class="ds-input"
               type="text"
               th:name="|claims[${index}].path|"
               th:value="${claimData != null ? claimData.path : ''}"
               placeholder="Path"
               id="claim_path"/>

        <input class="ds-input"
               type="text"
               th:name="|claims[${index}].name|"
               th:value="${claimData != null ? claimData.name : ''}"
               placeholder="Name"
               id="claim_name"/>
    </div>

    <div class="claim_field">
        <select class="ds-input" th:name="|claims[${index}].type|">
            <option disabled th:selected="${claimData == null or claimData.type == null}" value="">Velg en type</option>
            <option value="STRING" th:selected="${claimData != null and claimData.type == 'STRING'}">STRING</option>
            <option value="BINARY" th:selected="${claimData != null and claimData.type == 'BINARY'}">BINARY</option>
            <option disabled value="NUMBER">NUMBER</option>
            <option disabled value="BOOLEAN">BOOLEAN</option>
            <option disabled value="ISO_DATE">ISO_DATE</option>
            <option disabled value="ISO_DATE_TIME">ISO_DATE_TIME</option>
            <option disabled value="MAP">MAP</option>
            <option disabled value="LIST">LIST</option>
        </select>

        <input class="ds-input"
               type="text"
               th:name="|claims[${index}].exampleValue|"
               th:value="${claimData != null ? claimData.exampleValue : ''}"
               placeholder="Example Value"
               id="claim_exampleValue"/>
    </div>

    <button class="ds-button"
            data-color="danger"
            data-variant="tertiary"
            type="button"
            onclick="removeClaim(this)">
        Slett
    </button>
</div>