<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Bevisgenerator</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>


<template id="claim-template">
    <th:block th:replace="~{fragments/claim :: claim('INDEX', null)}"/>
</template>

<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Legg til bevistype
        </h1>
    </div>
    <div>
        <p class="ds-paragraph ds-alert">Det kan ta inntil ett minutt før bevistypen er tilgjengelig i utstederen.</p>
    </div>

    <form   th:fragment="add_attributes_form_fragment"
            id="add_attributes_form"
            th:action="@{/add-credential-new}"
            th:object="${form}" method="post">

        <div class="ds-alert"
             data-color="danger"
             th:if="${#fields.hasAnyErrors()}">
            <p class="ds-paragraph" data-size="lg">
                Skjemaet inneholder feil:
            </p>

            <ul style="margin-block-start: 0.2em; margin-inline-start: 0.8em;">
                <li th:each="error : ${#fields.allErrors()}"
                    th:text="${error}">
                </li>
            </ul>
        </div>

        <div>
            <div class="ds-field"
                 style="display: grid; grid-template-columns: 60px 1fr; grid-gap: 10px; align-items: center; justify-content: center;"
                 th:classappend="${#fields.hasErrors('vct')} ? 'ds-field--error'">

                <label class="ds-label" for="vct">VCT</label>

                <input class="ds-input"
                       type="text"
                       id="vct"
                       th:field="*{vct}"
                       style="width: 50%" >

            </div>

            <div class="ds-field"
                 style="display: grid; grid-template-columns: 60px 1fr; grid-gap: 10px; align-items: center; justify-content: center;">
                <label for="name-field" class="ds-label">Name</label>
                <input id="name-field" style="width:50%;" class="ds-input" type="text" th:field="*{name}" />
            </div>
        </div>

        <hr/>

        <h3>Claims</h3>

        <div id="claims">
            <div th:each="claim, stat : *{claims}">
                <th:block th:insert="~{fragments/claim :: claim(${stat.index}, ${claim})}"/>
            </div>
        </div>

        <button type="button" class="ds-button" data-variant="secondary" onclick="addClaim()">Legg til Claim</button>

        <hr/>

        <button class="ds-button" type="submit" form="add_attributes_form">Legg til bevistype</button>
    </form>

</main>

<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
<script th:src="@{/js/credential-form.js}"></script>
</body>
</html>