<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Bevisgenerator</title>
    <style>
        .claim {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }

        .claim_field {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
        }
    </style>
    <script>
        function addClaim() {
            const container = document.getElementById("claims");
            const index = container.children.length;

            const template = document.getElementById("claim-template").innerHTML;
            const html = template.replaceAll("INDEX", `${index}`);
            container.insertAdjacentHTML("beforeend", html);
        }

        function removeClaim(button) {
            button.parentElement.remove();
            reindexClaims();
        }

        function reindexClaims() {
            const claims = document.querySelectorAll("#claims .claim");
            claims.forEach((claim, i) => {
                claim.querySelectorAll("input").forEach(input => {
                    input.name = input.name.replace(/\[\d+]/, `[${i}]`);
                });
            });
        }
    </script>

</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>


<template id="claim-template">
    <th:block th:replace="~{fragments/claim :: claim('INDEX')}"/>
</template>

<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Legg til bevistype
        </h1>
    </div>
    <div>
        <p class="ds-paragraph ds-alert">Det kan ta inntil ett minutt før bevistypen er tilgjengelig i utstederen.</p>
    </div>

    <form   th:fragment="add_attributes_form_fragment"
            id="add_attributes_form"
            th:action="@{/add-credential-new}"
            th:object="${form}" method="post">

        <div class="ds-alert"
             data-color="danger"
             th:if="${#fields.hasAnyErrors()}">
            <p class="ds-paragraph" data-size="lg">
                Skjemaet inneholder feil:
            </p>

            <ul style="margin-block-start: 0.2em; margin-inline-start: 0.8em;">
                <li th:each="error : ${#fields.allErrors()}"
                    th:text="${error}">
                </li>
            </ul>
        </div>

        <div>
            <div class="ds-field"
                 style="display: grid; grid-template-columns: 60px 1fr; grid-gap: 10px; align-items: center; justify-content: center;"
                 th:classappend="${#fields.hasErrors('vct')} ? 'ds-field--error'">

                <label class="ds-label" for="vct">VCT</label>

                <input class="ds-input"
                       type="text"
                       id="vct"
                       th:field="*{vct}"
                       style="width: 50%" >

            </div>

            <div class="ds-field"
                 style="display: grid; grid-template-columns: 60px 1fr; grid-gap: 10px; align-items: center; justify-content: center;">
                <label for="name-field" class="ds-label">Name</label>
                <input id="name-field" style="width:50%;" class="ds-input" type="text" th:field="*{name}" />
            </div>
        </div>

        <hr/>

        <h3>Claims</h3>

        <div id="claims">
            <div th:each="claim, stat : *{claims}">
                <th:block th:replace="~{fragments/claim :: claim(${stat.index})}"/>
            </div>
        </div>

        <button type="button" class="ds-button" data-variant="secondary" onclick="addClaim()">Add Claim</button>

        <hr/>

        <button class="ds-button" type="submit" form="add_attributes_form">Legg til bevistype</button>
    </form>

</main>

<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>