<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Bevisgenerator</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Legg til bevistype
        </h1>
    </div>
    <div>
        <p class="ds-paragraph ds-alert">Det kan ta inntil ett minutt før bevistypen er oppdatert i utstederen. </p>
        <p class="ds-paragraph ds-alert">Gyldig type for claims er <code>string</code> for tekst og <code>bilde</code> for bilder. Dersom type ikke er angitt blir type default satt til string. Dette er en spesial utvidelse for bevisporten/bevisgenerator.</p>
    </div>

    <form th:fragment="add_attributes_form_fragment"
          id="add_attributes_form"
          th:action="@{/add-credential}"
          th:object="${addCredentialForm}"
          method="POST">

        <div class="ds-field"
             th:classappend="${#fields.hasErrors('vct')} ? 'ds-field--error'">

            <label class="ds-label" for="vct">ID (vct)</label>

            <input class="ds-input"
                   type="text"
                   id="vct"
                   th:field="*{vct}">

            <div th:if="${#fields.hasErrors('vct')}">
                <div class="ds-validation-message"
                     data-field="validation"
                    th:each="error : ${#fields.errors('vct')}" th:text="${error}">
                </div>
            </div>
        </div>

        <div class="ds-field">
            <label class="ds-label" for="json">
                Bevis-struktur
            </label>
            <textarea class="ds-input"
                   type="text"
                   id="json"
                   style="max-height:500px;min-height:500px; resize: none"
                   th:field="*{json}"></textarea>
        </div>


        <button class="ds-button"
                type="submit"
                style="margin-top:16px"
                form="add_attributes_form"
                data-variant="primary">
            Legg til bevistype
        </button>
    </form>


</main>

<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>