<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Bevisgenerator</title>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Vel bevis
        </h1>
        <p class="ds-paragraph">
            Start utferding av bevis med Digdir sin generelle utferdar (issuer)
        </p>
    </div>
    <div class="flex-container">
        <th:block th:each="credentialConfiguration: ${credential_configurations}">
            <a th:href="@{/start-issuance/{id}(id = ${credentialConfiguration.credentialConfigurationId})}" class="ds-card"
               data-variant="neutral" style="max-width: 500px; display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <h2 class="ds-heading" th:text="${credentialConfiguration.description}">PID</h2>
                    <p class="ds-paragraph" data-variant="neutral" th:text="${credentialConfiguration.credentialConfigurationId}"></p>
                </div>
                <div style="display: flex; align-items: end; justify-content: flex-end;">
                    <button data-edit-button class="ds-button" data-variant="secondary">Edit</button>
                </div>
            </a>
        </th:block>
    </div>
   <div>
       <a th:href="@{/addCredential}" style="text-decoration: none">
            <button class="ds-button" data-variant="neutral" data-size="lg">+ Legg til</button>
       </a>
   </div>

</main>

<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>

<script>
    (function() {
        (function() {
           const buttons = document.querySelectorAll("[data-edit-button]");
           for (let i = 0; i < buttons.length; i++) {
               buttons[i].addEventListener("click", editClick);
           }
        })();
        function editClick(e) {
            e.preventDefault();
            e.stopPropagation();

            // TODO: Go to edit view
        }
    })();
</script>

</body>
</html>