<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Bevisgenerator</title>
</head>
<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>
<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Presenter bevis
        </h1>
        <div>
            <h2 class="ds-heading" data-size="md">Velg bevistype</h2>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>