<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Bevisgenerator</title>
</head>
<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>
<main>
    <div>
        <h1 class="ds-heading" data-size="lg">
            Presenter bevis
        </h1>
        <div>
            <h2 class="ds-heading" data-size="md">Velg bevistype</h2>
            <form th:action="@{/verification-start}" th:object="${verification-form}" method="post">
                <select th:field="*{credentialType}">
                    <option th:each="credential : ${credentialConfigurations}" th:value="${credential.id}" th:text="${credential.name}"></option>
                </select>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>