<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Bevisgenerator</title>
</head>
<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>
<main>
    <div style="max-width: 900px; padding-inline: var(--ds-size-7);">
        <h1 class="ds-heading" data-size="lg">
            Presenter bevis
        </h1>
    </div>
    <div class="ds-card" style="max-width: 600px">
        <div id="cross-device-request">
            <img th:src="${qrCode}" alt="QR kode for verifikasjon" id="qrcode-cross-device" width="100%"/>
        </div>
        <p id="verification-status-message" class="ds-paragraph" style="margin-top: var(--ds-size-3);"></p>
        <div class="flex-container" style="min-width: unset">
            <a th:href="${authorizationRequest}" class="ds-button" type="button" data-variant="primary" style="min-width:75px">
                Opne på mobilen
            </a>
            <a th:href="@{/verification-start}" class="ds-button" type="button" data-variant="secondary">
                Tilbake
            </a>
        </div>
    </div>
    <div id="tracing">
        <details class="ds-details" data-variant="default">
            <summary>Request til verifier-service</summary>
            <div>
                <code>POST <span th:text="${requestUri}"></span></code>
                <br/>
                <code th:text="${requestBody}" style="white-space: pre-wrap; overflow-wrap: break-word;"></code>
            </div>
        </details>
        <details class="ds-details" data-variant="default">
            <summary>Respons frå verifier-service</summary>
            <div>
                <code th:text="${responseBody}" style="white-space: pre-wrap; overflow-wrap: break-word;"></code>
            </div>
        </details>
    </div>
</main>
<footer th:replace="~{fragments/general :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
<script th:inline="javascript">
    const statusMessage = document.getElementById("verification-status-message");
    const statusEndpoint = /*[[@{/verification-presentation/{transactionId}/status(transactionId=${transactionId})}]]*/ "";
    const resultUrl = /*[[@{/verification-result/{transactionId}(transactionId=${transactionId})}]]*/ "";

    const handle200 = async () => {
        if (document.visibilityState === "visible") {
            window.location.assign(resultUrl);
        }
        else {
            const redirect = async () => {
                window.removeEventListener("visibilitychange", redirect);
                window.location.assign(resultUrl);
            }
            window.addEventListener("visibilitychange", redirect);
        }
    };

    async function waitForWallet(interval, timeout) {
        const endtime = Date.now() + timeout;
        statusMessage.textContent = "Ventar på presentasjon frå wallet ...";

        async function poll() {
            if (Date.now() >= endtime) {
                statusMessage.textContent = "Tidsavbrot ved venting på verifisering.";
                return;
            }
            try {
                const response = await fetch(statusEndpoint, {
                    method: "GET",
                    headers: {Accept: "application/json"}
                });

                if (response.status === 200) {
                    await handle200();
                    return;
                }

                if (response.status === 202) {
                    setTimeout(poll, interval);
                    return;
                }

                if (response.status === 404) {
                    statusMessage.textContent = "Verifiseringa har ukjend status og blir stoppa.";
                    return;
                }

                statusMessage.textContent = "Klarte ikkje hente verifiseringsstatus.";

            } catch (error) {
                statusMessage.textContent = "Klarte ikkje hente verifiseringsstatus.";
            }
        }

        await poll();
    }

    waitForWallet(2000, 60000);
</script>
</body>
</html>